body{
  color: #03396c;
}

img{
  border: 16px solid #f6f6f6;
}

p{
  margin-top: 20px;
  font-size: 1rem;
}

h1{
  margin-top: -30px;
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.1rem;
}

.outterContainerAbout{
  margin-top: 200px;
  max-width: 1200px;
  
}
.first{
  display: flex;
  margin: 40px;
  align-items: center;
}

.img-first > img{
  width: 100%;
  height: 450px;
}

.container-right{
  
  width: 60%;
  margin: 10px;
  margin-left: 70px;
  
}

.about-galery > img{
height: 300px;
width: 300px;
margin: 20px;
}

.img-second{
  width: 30px;
  height: 30px;
}

.second{
  display: flex;
  margin: -25px 40px;
  align-items: center;
}

.second-desc{
width: 45%;
margin: 40px;

}

.second-desc-imgs > img{
  width: 250px;
  height: 200px;
  margin: 20px;
}
