body{
  font-size: 0.9rem;
  color:#0a396c
  
}

img{
  border-radius: 6px;
}

hr{
  margin: 20px 0;
  background-color: #6c8693;
  
}

/* #main-cart{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
} */
.outterContainer{
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 150px;
  
}

.emptyCart{
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0px auto;
} 

 .emptyCart .div-frases{
  margin: 40px;
  width: 500px;
  text-align: center;
}

.div-img{
  width: 500px; 
} 

 .emptyCart img{
  border: 16px solid #f6f6f6;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  
} 
.container{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  
}  

.total-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.total-cart-rodape{
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container-pai-items-cart{
  margin-top: 200px;
}

.box1{
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-right: 25px;
  flex:1
} 

.box1 img{
  width: 75%;
  height: 100%;
  border: 3px solid #f6f6f6;
  
} 

.box2{
  flex: 5;
} 

.box3{
  flex: 1;
  align-items: flex-end;
  margin-right: 0px;
  text-align: right;
}

.linha:last-child{
  display: none;
} 

.show{
  display: block;
}

.hide{
  display: none;
}





