body{
  font-size: 0.9rem;
  color:#0a396c
}

img{
  border-radius: 6px;
  box-shadow: 0px 0px 20px #88aed0;
}

hr{
  margin: 20px 0;
  background-color: #6c8693; 
}

.div-frases h1{
  font-size: 1.9rem;
}

#main-cart{
  display: flex;
  align-items: center;
}

.outterContainer{
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 150px;
  display: flex;
  max-width: 1100px;
}

.emptyCart{
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0px auto;
  justify-items: center;
} 

 .emptyCart .div-frases{
  margin: 40px;
  width: 500px;
  text-align: center;
}

.div-img{
  width: 400px; 
} 

 .emptyCart img{
  border: 16px solid #f6f6f6;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  
} 

#not-empty-cart{
  max-width: 1200px;
  margin-top: 40px;
}

.container-pai-items-cart{
  margin-top: 0px;
  width: 1100px;
}

.total-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px; 
  
}  

.box1{
  width: 100px;
  height: 100px;
  margin-left: 25px;
  margin-right: 10px;
  flex:1
} 

.box1 img{
  width: 60%;
  height: 100%;
  border: 4px solid #f6f6f6; 
  margin: 0 auto;
}

.box2{
  flex: 5;
}

.box3{
  flex: 1;
  align-items: flex-end;
  margin-right: 0px;
  text-align: right;
}

.total-cart-rodape{
  text-align: right;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btnPlaceOrder, .btnStartShopping{
  text-align: right;
  outline: none;
  padding: 12px 14px ;
  font-size: 15px;
  font-weight: 500;
  border-radius: 12px;
  border: 2px solid #e6eae9;
  cursor:pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #e6eae9;
  background: #03396c;
  margin-top: 15px;
}

.btnPlaceOrder:hover, .btnStartShopping:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  color: white;
  box-shadow: 0px 0px 20px #88aed0;
}


.show{
  display: block;
}

.hide{
  display: none;
}





