body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex-grow: 1;
  margin-top: 180px;
  margin-bottom: 40px;
  align-content: center;
  
}

form{
  margin-top: 30px;
}

label{
  margin-left: 30px;
}

input{
  margin: 0;
  padding: 6px;
  width: 90%;
  background: #cecece;
  margin: 0 auto;
}

input:focus{
  outline-color: #899ea9;
}

textarea{
  border: none;
  resize: none;
  width: 90%;
  border: 5px solid #e6eae9;
  background: #cecece;
  font-family: 'Varela Round', sans-serif;
  margin: 0 auto;
  margin-left: 29px;
}

textarea:focus{
  outline-color: #899ea9;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  
}

#contact-img{
  width: 450px;
  height: 518px;
  box-shadow: none;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px
}

#titulo-contact{
  margin-top: 20px;
  margin-left: 29px;
}

#contact-btn-submit{
  margin-top: 20px;
  width: 20%;
  outline: none;
  padding: 10px 0;
  font-size: 17px;
  font-weight: 500;
  border-radius: 12px;
  border: 2px solid #e6eae9;
  cursor:pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  color: #e6eae9;
  background: #899ea9;
  margin: 0  auto;
  margin-top: 20px;

}

#contact-btn-submit:hover{
  color: white ;
  border: 2px solid #03396c ;
  background: #03396c;
}

#form-container{
  display: flex;
  
  border: 16px solid #f6f6f6;

  box-shadow: 0px 0px 20px #88aed0;
}

