.wrapper{
  max-width: 1130px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  position: relative;
}

.filter-bg{
  margin-top: 100px;
  position: absolute;
  position: fixed;
  z-index: 8;
  width: 100%;
  background: #cecece;
  padding-top: 10px;
  padding-bottom: 20px;
}

.wrapperFilter span.item{
  color:#09396c;
  border: 1px solid #09396c;
}

.wrapperFilter span.item{
  color:#09396c;
  border: 1px solid #09396c;
}

.wrapperFilter span.item.active{
  color: white;
}

#titulo-home-id{
  margin-top: 270px;
}

.wrapper .cart-nav{
  position: absolute;
  top:-10%;
  right: 0;;
}

.wrapper .card{
  width: calc(33% - 25px);
  border-radius: 12px;
  background: #a8b4b8;
  border: 6px solid #f6f6f6;
}

.card.image.hide{
  display: none;
  animation: animate 0.9s ease;
}

.card.image.show{
  animation: animate 0.9s ease;
}

.wrapper .card img{
  width: 100%;
  border-radius: 0%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 6px solid #f6f6f6;
  height: 400px;
  box-shadow: none;
}

.wrapper .card:hover{
  box-shadow: 0px 0px 20px #88aed0;
  transition: all 0.3s ease; 
}

.wrapper .card .content{
  padding: 10px 20px 22px 20px; 
}

.card .content .row, .card .content .buttons{
  display: flex;
  justify-content: space-between;
}

.content .row .details span{
  font-size: 22px;
  font-weight: 600;
  color: #03396c 
}

.content .row .price{
  color: #03396c;
  font-size: 33px;
  font-weight: 600;
}

.content .row .details p{
  font-size: 17px;
  font-weight: 400;
  color:#03396c;
}

.sizeRoupaWrapper, .sizeSaptosWrapper{
margin-top: 8px 0;
width: 80%;
font-size: 16px;
display: flex;
justify-content: space-between;
}

.sizeSaptosWrapper{
  width: 100%;
}

.sizeRoupaWrapper span, .sizeSaptosWrapper span{
  margin-top: 15px;
  display: block;
  color: white;
  height: 28px;
  width: 28px;
  padding: 2px;
  background: #cecece;
  text-align: center;
  border-radius: 50%;
  line-height: 28px;
  cursor: pointer;
}

.sizeRoupaWrapper span:hover, .sizeSaptosWrapper span:hover{
  color: white;
  background: #899ea9;
  transition: all 0.3s ease; 
}

.sizeRoupaWrapper span:first-child, .sizeSaptosWrapper span:first-child{
  display: block;
  color: white;
  height: 28px;
  width: 28px;
  padding: 2px;
  background: transparent;
  text-align: center;
  border-radius: 50%;
  line-height: 28px;
  cursor: default; 
}

.sizeRoupaWrapper span.active{
  background: #03396c;
  display: block;
}

.sizeSaptosWrapper span.active{
  background: #03396c;
  display: block;
}

.content .buttons{
  margin-top: 20px;
}

.content .buttons button{
  width: 100%;
  outline: none;
  padding: 10px 0;
  font-size: 17px;
  font-weight: 500;
  border-radius: 12px;
  border: 2px solid #e6eae9;
  cursor:pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.buttons button:first-child{
  color: #e6eae9;
  background: none;
  margin-right: 10px;
}

.buttons button:first-child:hover{
  color: white ;
  border: 2px solid #03396c ;
  background: #03396c;
}

.buttons button:last-child{
  color: #e6eae9;
  background: #899ea9;
  margin-left: 10px;
}

.buttons button:last-child:hover{
  border: 2px solid #03396c;
  background: #03396c ;
  color: white;
}

#xs, #s5{
  margin-left: 15px;
}

@keyframes animate{
  0%{
    transform: scale(0.98);
  }
  100%{
    transform: scale(1)
  }
}
