.wrapper{
  max-width: 1130px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  position: relative;
}

.wrapper .cart-nav{
  position: absolute;
  top:-10%;
  right: 0;;
}

.wrapper .card{
  width: calc(33% - 13px);
  border-radius: 3px;
  background: #9a9b87;
}

.wrapper .card img{
  width: 100%;
  border-radius: 3px;
}

.wrapper .card .content{
  padding: 10px 20px 22px 20px;
}

.card .content .row, .card .content .buttons{
  display: flex;
  justify-content: space-between;
}

.content .row .details span{
  font-size: 22px;
  font-weight: 600;
  color: #06373A
}

.content .row .price{
  color: #06373A;
  font-size: 33px;
  font-weight: 600;
}

.content .row .details p{
  font-size: 17px;
  font-weight: 400;
  color:#06373A;
}

.content .buttons{
  margin-top: 20px;
}

.content .buttons button{
  width: 100%;
  outline: none;
  padding: 10px 0;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #8c5b65;
  cursor:pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.buttons button:first-child{
  color: #8c5b65;
  background: none;
  margin-right: 10px;
}

.buttons button:first-child:hover{
  color: #1B4B43 ;
  border: 2px solid #1B4B43 ;
}

.buttons button:last-child{
  color: #9a9b87;
  background: #8c5b65;
  margin-left: 10px;
}

.buttons button:last-child:hover{
  border: 2px solid #1B4B43;
  background: #1B4B43 ;
}

