body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee9e6;
}

h1, h2, h3, p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit
}

img{
  max-width: 100%;
  display: block;
}

