body{
  margin: 0px;
  font-family: 'Varela Round', sans-serif;
  background-color: #ebefed;
  min-height: 100vh;
}

main{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  
}

h1, h2, h3, p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit
}

img{
  max-width: 100%;
  display: block;
}

img.cart{
  width:100px;
  border-radius: 25%;
}

