.header-bg{
  background-color: #6c8693;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;

}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header .logo{
  color: white;
  font-weight: 700;
  font-size: 2rem;
  font-family:'Dancing Script', cursive ;
  text-shadow: 0px 0px 20px white

}


.wrapper .card{
  margin-bottom: 30px;
  border: 5px solid white;
}

.cart-nav{
  right: 0;
  width: 70px;
  display: flex;
  justify-content: center;
}

.cart-nav .icon i{
  color: white;
  font-size: 1.125rem;
  justify-content: center;
}

.cart-nav .item-num.item-count{
  display: inline;
  color: white;
  margin-top: -15px;
  margin-left: -25px;
  margin-bottom: 50px;
  background-color: #03396c;
  padding: 0 6px;
  border: 1px solid #03396c;
  color: white;
  border-radius: 50%;
  font-size: 0.8rem;
}

.header-menu a{
  font-size: 1.125rem;
  line-height: 1.3 ;
  padding: 10px 20px ;
  color: #e6eae9;
  display: block;
}

.header-menu a:hover{
  color: white;
}
