.header-bg{
  background-color: #ad8e85
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cart-nav{
  right: 0;
  width: 130px;
  display: flex;
  justify-content: center;
}

.cart-nav .icon i{
  color: crimson;
  font-size: 1.125rem;
  justify-content: center;
}

.cart-nav .item-num{
  font-size: 1 rem;
  font-weight: 23px;
  padding: 5px;
  margin: 15px;
  width: 23px;
  border-radius: 50%;
  background: #ffcccc;
  border: 1px solid #ffb3b3;
  color: #ff7979;
  text-align: center;
  justify-content: center;
}

.header-menu a{
  font-size: 1.125rem;
  line-height: 1.3 ;
  padding: 10px 20px ;
  color: #8c5b65;
  display: block;
}

@media (max-width: 800px){
  .header{
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    font-size: 1rem;
  }

  .header a{
    background: #f9f9f9;
    border-radius: 6px;
  }
}