/* 


verde: #9a9b87
branquinho: #eee9e6
bege: #dbd0c5
rosa: #e4c6bd
marrom: #ad8e85 
terracota: #8c5b65

https://www.color-hex.com/color-palette/45494
https://www.color-hex.com/color-palette/1294
https://www.fabmood.com/inspiration/blue-and-grey-sky-color/


font-family: 'Dancing Script', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Varela Round', sans-serif;


*/

h1{
  text-align: center;
  margin: 50px 0;
  color: #03396c;
  font-family: 'Varela Round', sans-serif;
  margin-top: 200px;
}

.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(108, 134, 147, 0.8);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal-msg{
  margin-top: 60px;
}

.modal-content{
 width: 500px;
 height: 500px;
 background-color: #6c8693;
 border-radius: 6px;
 text-align: center;
 padding: 20px;
 border: 20px solid #e6eae9;
 position: relative;
}

input{
  width: 50%;
  display: block;
  margin: 15px auto;
  border: 5px solid #e6eae9;
  border-radius: 6px;
  padding: 10px;

}

input:focus{
  outline-color: #899ea9;
}


.buttom{
  background-color: none;
  color: white;
  border-radius: 6px;
  border:1px solid #03396c;
  border-color: #e6eae9;
  padding: 8px 16px;
}

.buttom:hover{
  background-color: #03396c;
  color: white;
  border: none;
}

.div-btn, .div-form{
  margin-top: 35px;
}

.close{
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  color: white;
  cursor: pointer
}

.dontworry{
  color: #cecece;
}

.hide{
  display: none;
}

.show{
  display: block;
}

