/* 


verde: #9a9b87
branquinho: #eee9e6
bege: #dbd0c5
rosa: #e4c6bd
marrom: #ad8e85 
terracota: #8c5b65

https://www.color-hex.com/color-palette/45494
https://www.color-hex.com/color-palette/1294
https://www.fabmood.com/inspiration/blue-and-grey-sky-color/


font-family: 'Dancing Script', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Varela Round', sans-serif;


*/

h1{
  text-align: center;
  margin: 50px 0;
  color: #03396c;
  font-family: 'Varela Round', sans-serif;
  margin-top: 200px;
}
.buttom{
  background-color: none;
  color: white;
  border-radius: 6px;
  border:1px solid #03396c;
  border-color: #e6eae9;
  padding: 8px 16px;
}

.buttom:hover{
  background-color: #03396c;
  color: white;
  border: none;
}

