/* 


verde: #9a9b87
branquinho: #eee9e6
bege: #dbd0c5
rosa: #e4c6bd
marrom: #ad8e85 
terracota: #8c5b65


font-family: 'Dancing Script', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Varela Round', sans-serif;


*/



